@page "/getintouch"

<div class="text-center">
    <div class="display-6">Contact</div>
    <div class="lead">
        <i class="fa fa-phone"></i>
        <p>
            Alo 120 BTK Akademi bilgi ve destek hattı
        </p>
        <i class="fa fa-address-book"></i>
        <p>
            Test Test Test Test
        </p>
        <i class="fa fa-envelope"></i>
        <p>
            Test Test Test Test
        </p>
    </div>
</div>
